In [26]:
# Libray imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt

In [27]:
pd.set_option('display.precision', 15)
df = pd.read_csv("gen.cells.csv", dtype=float)
df.head(len(df))

                lat                 lng
0 -1.28455776710886  36.825689763891297
1 -1.26157387827236  36.803393781661399
2 -1.32497857633817  36.849149723237403
3 -1.25894928057679  36.785457391281398
4 -1.26152940502561  36.726359036110303
5 -1.30732011166900  36.741882318619503
6 -1.30266639615484  36.751987879705197
7 -1.33074455112332  36.778831908804896
8 -1.32464574489450  36.923209089351097

In [28]:
data = df.to_numpy(copy=True, dtype=np.float64)
print (data)

[[-1.28455777 36.82568976]
 [-1.26157388 36.80339378]
 [-1.32497858 36.84914972]
 [-1.25894928 36.78545739]
 [-1.26152941 36.72635904]
 [-1.30732011 36.74188232]
 [-1.3026664  36.75198788]
 [-1.33074455 36.77883191]
 [-1.32464574 36.92320909]]

In [29]:
for i in range(0, 9):
    print(data[i][0] + 0.04744348, " , ", data[i][1])
    print(data[i][0] - 0.35795478 , " , " , data[i][1] + 0.446009362)
    print(data[i][0] - 0.35795478 , " , " , data[i][1] - 0.446009362)
    print("\n\n")

-1.2371142871088598  ,  36.8256897638913
-1.64251254710886  ,  37.271699125891296
-1.64251254710886  ,  36.3796804018913



-1.21413039827236  ,  36.8033937816614
-1.61952865827236  ,  37.2494031436614
-1.61952865827236  ,  36.3573844196614



-1.27753509633817  ,  36.8491497232374
-1.68293335633817  ,  37.2951590852374
-1.68293335633817  ,  36.403140361237405



-1.2115058005767898  ,  36.7854573912814
-1.61690406057679  ,  37.231466753281396
-1.61690406057679  ,  36.3394480292814



-1.21408592502561  ,  36.7263590361103
-1.61948418502561  ,  37.1723683981103
-1.61948418502561  ,  36.280349674110305



-1.259876631669  ,  36.7418823186195
-1.6652748916690001  ,  37.1878916806195
-1.6652748916690001  ,  36.295872956619505



-1.2552229161548398  ,  36.7519878797052
-1.66062117615484  ,  37.197997241705195
-1.66062117615484  ,  36.3059785177052



-1.28330107112332  ,  36.7788319088049
-1.68869933112332  ,  37.224841270804895
-1.68869933112332  ,  36.3328225468049



-1.2772022648944998  ,  36.9232090893511
-1.6826005248945  ,  37.369218451351095
-1.6826005248945  ,  36.4771997273511