In [111]:
# Libray imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from math import sqrt

In [112]:
pd.set_option('display.precision', 15)
df = pd.read_csv("baseStations.csv", dtype=float)
df1 = pd.read_csv("baseStations.csv", dtype=float)
df.drop(["id", "carrierID", "maxConnected"], axis=1, inplace=True)
df.head(len(df))

           latitude           longitude
0 -1.28455776710886  36.825689763891297
1 -1.26157387827236  36.803393781661399
2 -1.32497857633817  36.849149723237403
3 -1.25894928057679  36.785457391281398
4 -1.26152940502561  36.726359036110303
5 -1.30732011166900  36.741882318619503
6 -1.30266639615484  36.751987879705197
7 -1.33074455112332  36.778831908804896
8 -1.32464574489450  36.923209089351097

In [113]:
data = df.to_numpy(copy=True, dtype=np.float64)
print (data)

[[-1.28455777 36.82568976]
 [-1.26157388 36.80339378]
 [-1.32497858 36.84914972]
 [-1.25894928 36.78545739]
 [-1.26152941 36.72635904]
 [-1.30732011 36.74188232]
 [-1.3026664  36.75198788]
 [-1.33074455 36.77883191]
 [-1.32464574 36.92320909]]

In an equilateral triangle, the base station is in the triangle equidistant to all the vertices.
The upper vertex is 1km away from the base station, on Google maps. 3km ≈ 0.000081606°
The horizontal delta is ± 0.000069804°
The vertical delta is -0.00004227°

In [114]:
new_data = []
for i in range(0, 9):
    new_data.append([data[i][0] + 100 *0.000081606, data[i][1]])
    new_data.append([data[i][0] - 100 *0.00004227, data[i][1] + 100 *0.000069804])
    new_data.append([data[i][0] - 100 *0.00004227 , data[i][1] - 100 *0.000069804])

print(new_data)

[[-1.2763971671088599, 36.8256897638913], [-1.28878476710886, 36.8326701638913], [-1.28878476710886, 36.818709363891294], [-1.25341327827236, 36.8033937816614], [-1.26580087827236, 36.8103741816614], [-1.26580087827236, 36.796413381661395], [-1.31681797633817, 36.8491497232374], [-1.32920557633817, 36.856130123237406], [-1.32920557633817, 36.8421693232374], [-1.2507886805767898, 36.7854573912814], [-1.2631762805767899, 36.7924377912814], [-1.2631762805767899, 36.778476991281394], [-1.25336880502561, 36.7263590361103], [-1.26575640502561, 36.733339436110306], [-1.26575640502561, 36.7193786361103], [-1.299159511669, 36.7418823186195], [-1.311547111669, 36.748862718619506], [-1.311547111669, 36.7349019186195], [-1.2945057961548398, 36.7519878797052], [-1.30689339615484, 36.7589682797052], [-1.30689339615484, 36.745007479705194], [-1.32258395112332, 36.7788319088049], [-1.33497155112332, 36.7858123088049], [-1.33497155112332, 36.77185150880489], [-1.3164851448944999, 36.9232090893511], [-1.3288727448945, 36.9301894893511], [-1.3288727448945, 36.916228689351094]]

In [115]:
csv_cells = 'cells.csv'

with open (csv_cells, 'r') as file:
    reader = csv.reader(file)
    rows = list(reader)
    header_row = rows[0]
    data_rows = rows[1:]

for i, row in enumerate(data_rows):
    if i < len(data_rows):
        row[2] = str(new_data[i][0])
        row[3] = str(new_data[i][1])

header_row = ["id", "baseID", "latitude", "longitude", "MaxConnected"]

with open (csv_cells, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header_row)
    writer.writerows(data_rows)